<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/list">List</router-link> |
    <router-link to="/notes">Notes</router-link>
  </div>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#divList, .home, .notes {
    padding: 3px;
    background-color: rgb(120, 185, 114);
}

.infoPok {
    padding: 3px;
    background-color: rgb(106, 148, 202);
}

ul {
    margin: auto;
    display: flex;
    max-width: 10%;
    flex-direction: column;
    list-style: none;
}

li {
    align-self: flex-start;
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

.abilities {
    max-width: 40%;
    margin: auto;
}
</style>
