<template>
  <div class="home">
    <img alt="Vue logo" src="../../public/media/pokeapi.png">
    <h1>Welcome to Pokeapi's Pokémon consult.</h1>
    <p>To see a complete Pokémon list, go to Lista (/lista). There you'll be able to see information from each Pokémon.</p>
    <p>If you know the Pokémon ID, you can also go to /lista/id (insert Pokémon ID) to go directly to an specific register.</p>
  </div>
</template>