<template>
    <div id='divList' class="lista">
        <img alt="Vue logo" src="../../public/media/pokeapi.png">
        <h1>Pokémon list</h1>
        <div class='title'>
            <h2>{{title}}</h2>
        </div>
        <div class='pokList'>
            <ul>
                <li v-for="result in resultsArray"><h3><router-link :to="`/list/${result.id}`">{{result.id}}. {{result.name}}</router-link></h3></li>
            </ul>                
        </div>
    </div>
</template>

<script>
// console.log('hola')
export default {
    data() {
        return {
            // Declare 'variables'
            title: 'Pokémon name',
            resultsArray: [],
            // This variable is used in case it's declared as null at any time, it resets the initial value
            url: "https://pokeapi.co/api/v2/pokemon?limit=50"
        };
    },
    methods: {
        // This method gets all Pokémon from the API, from 50 to 50 and inserts them into resultsArray object
        async consultaApi() {
            try {
                if (this.url === null) {
                    this.url = "https://pokeapi.co/api/v2/pokemon?limit=50"
                }
                await fetch(this.url)
                .then(res => {
                    window.removeEventListener('scroll',this.recharge)
                    return res.json()})
                .then(resJson => {
                    let results = resJson.results
                    this.url = resJson.next
                    // let next = resJson.next
                    // if (next != '') {
                    //     this.url = next
                    // }
                    let arrayObj = []
                    let obj = {}
                    for (let i = 0; i < results.length; i++) {
                        // this.resultsArray.push(results[i])
                        let pokName = results[i].name
                        let pokId = results[i].url.split('/')[6]
                        // console.log(pokId)
                        obj = {
                            name: `${pokName}`,
                            id: `${pokId}`
                        }
                        arrayObj.push(obj)
                    }
                    // console.log(arrayObj)
                    // let arrayResult = this.resultsArray
                    // arrayResult.push(arrayObj)
                    // console.log(arrayResult)
                    this.resultsArray = this.resultsArray.concat(arrayObj)
                    // this.update()
                })
            } catch (error) {
                console.log(error)
            }
        },
        // This method execute the main method each time the scroll bar gets to the bottom, and sends it to the top
        update() {
            window.addEventListener('scroll', this.recharge()) 
        },
        recharge() {
            if (window.innerHeight + window.pageYOffset >= document.body.offsetHeight) {
                this.consultaApi()
            }
        }
    },
    created() {
        // When the view is fully charged, we prepare the window for the scroll event and we execute the main method
        this.consultaApi()
        window.onscroll = this.update
    }
}
</script>