<template>
    <div class="notes">
        <img alt="Vue logo" src="../../public/media/pokeapi.png">
        <h1>Notas</h1>
        <div class="notesList">
            <h2>1. El primer paso que tomé fue crear todos los archivos necesarios y eliminar todos los que no iba a utilizar.</h2>
            <h2>2. Creamos lso archivos App.vue e index.js.</h2>
            <h2>3. En el archivoInicio.vue, escribí una pequeña descripción del programa y con el logo de la API consultada.</h2>
            <h2>4. A continuación, en Lista.vue, hice la consulta a la API sobre los Pokémon. Organicé los resultados en una lista.</h2>
            <h2>5. De los resultados anteriores obtuve, entre otra información, el ID de cada Pokémon, el cual utilicé para el siguiente paso.</h2>
            <h2>6. En el archivo Pokemon.vue hice una vista para mostrar información concreta del Pokémon seleccionado, y realicé otras dos consultas, una para las imágenes y otra para obtener la información las habilidades. Alguna de esta está en alemán porque la API sólo tiene esa habilidad descrita en alemán.</h2>
            <h2>7. Uno de los últimos passo fue ajustar los estilos de la web en el archivo App.vue.</h2>
            <h2>8. Redacté el archivo Notas.vue</h2>
            <h2>9. Y por último compilé el programa y lo mandé.</h2>
        </div>
    </div>
</template>