<template>
    <div class='infoPok'>
        <img alt="Vue logo" src="../../public/media/pokeapi.png">
        <h1># {{pokemon.id}} {{pokemon.name}}</h1>
        <div class='images'>
            <img :src='`${forms[0].front}`'>
            <img :src='`${forms[0].back}`'>
        </div>
        <h2>Base Experience: {{pokemon.base_experience}} EX</h2>
        <h2>Height: {{pokemon.height / 10}} m</h2>
        <h2>Weight: {{pokemon.weight / 10}} kg</h2>
        <h2>Abilities: </h2>
        <ul v-for="ability in abilities" class="abilities">
            <li><h3>{{ability.name}}: {{ability.description}}</h3></li>
        </ul>
    </div>
    
</template>

<script>
export default {
    data() {
        // Declare 'variables'
        return {
            pokemon: [],
            abilities: [],
            forms: []
        };
    },
    methods: {
        // This method asks the API for the Pokémon's information with the ID we are getting via URL
        async consultaApi() {
            try {
                let url = `https://pokeapi.co/api/v2/pokemon/${this.$route.params.id}`
                await fetch(url)
                .then(res => res.json())
                .then(resJson => {
                    // console.log(resJson)
                    this.pokemon = resJson
                })
            } catch (error) {
                console.log(error)
            }
            // Call the other two methods
            this.consultImg()
            this.consultAbilities()
        },
        // This method gets the information regarding Pokémon's abilities, creating a new object called abilities
        async consultAbilities() {
            let abilities = this.pokemon.abilities
            let arrayObj = []
            let obj = {}
            for (let i=0; i < abilities.length; i++) {
                try {
                    let url2 = abilities[i].ability.url
                    await fetch(url2)
                    .then(res => res.json())
                    .then(resJson => {
                        let abilityName = resJson.names[7].name
                        let abilityDescription = resJson.effect_entries[1].effect
                        obj = {
                            name: `${abilityName}`,
                            description: `${abilityDescription}`
                        }
                        arrayObj.push(obj)
                    })
                } catch (error) {
                    console.log(error)
                }
            }
            this.abilities = arrayObj
        },
        // This method gets Pokémon's default front and back images, and inserts them into a new variable
        async consultImg() {
            let arrayObj = []
            let obj = {}
            try {
                let formsURL = this.pokemon.forms[0].url
                await fetch(formsURL)
                .then(res => res.json())
                .then(resJson => {
                    let defaultFront = resJson.sprites.front_default
                    let defaultBack = resJson.sprites.back_default
                    obj = {
                        front: `${defaultFront}`,
                        back: `${defaultBack}`
                    }
                    arrayObj.push(obj)
                })
            } catch (error) {
                console.log(error)
            }
            this.forms = arrayObj
            // console.log(this.forms[0])
        }
    },
    created() {
        // Call the main method when the view is fully charged
        this.consultaApi()
    }
}
</script>